*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
td{
    
    border:  2px solid rgb(152, 206, 70);
    text-align: center;
    padding: 10px;
}
table{ 
     border-collapse:collapse ;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
P{
    text-align: right;
}








